.todoForm {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
}

.modernInput {
    width: 100%;
    border: none;
    display: block;
    color: black;
    font-size: 16px;
}

.modernInput:focus {
    outline: none;
}

.modernBtn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #f7ca18;
    padding: 12px;
    color: #ffffff;
    cursor: pointer;
}
